@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --navbar-color: #1196ee;
  --text-hover: #000000;
}

.dark {
  --background: #111111;
  --foreground: #ffffff;
  --navbar-color: #58a1d1;
  --text-hover: #e2e2e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  background-color: var(--navbar-color);
  transition: background-color 0.3s;
}

.navbar-textHover:hover {
  color: var(--text-hover);
  transition: color 0.3s;
  font-weight: bold;
}

.signUpForm {
  border-color: #1196ee;
  border-width: 2px;
}